section{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.full{
    flex-basis: 100%;
}
.textbox{
    flex-basis: 10%;
}
.box{
    border-radius: 0.5em;
    border: solid;
    background-color: #F8F8F0;
}
.halfbox{
    width: 40.5625em;
    height: 33.654375em;
}
img{
    width: 40.5625em;
    height: 33.654375em;
    object-fit: cover;
}
p{
    font-size: 2.3rem;
}
h1{
    font-size: 9rem;
}
h2{
    font-size: 3.5rem;
}
body{
    background-color: #236154;
    margin: 0;
}
.spaceright{
    margin-right: 3rem;
}