.language {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
}

.language span img {
    padding-top: .3rem;
    width: 3rem;
    height: 3.5rem;
    /* margin-left: 7vw; */
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #D7D3C7;
    font-size: 25px;
    min-width: 180px;
    padding: 5px 9px;
    z-index: 0;
    margin-right: 4rem;
}

.language:hover .drop-down {
    display: block;
}


.sub-header {
    background-color: #D7D3C7;
    padding: .5rem;
    font-size: 35px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.sub-header .masc {
    display: flex;
    flex-flow: row;
    margin: 0 5vw;
}

.masc a {
    width: 11vw;
    margin: 1.4vh 4vw 0 4vw;
}

.return {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    margin-top: .2rem;
}

.spaceleft {
    margin-left: 5rem;
}

section {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.full {
    flex-basis: 100%;
}

.box {
    border-radius: 0.5em;
    border: solid;
    background-color: #F8F8F0;
}

.halfbox {
    width: 48.5rem;
    height: 48.5rem;
}

.size {
    min-width: 105rem;
    max-width: 105rem;
}

img {
    width: 40.5625em;
    height: 33.654375em;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    background-image: url(/western-dino-house/images/Contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    border-bottom: solid;
    height: 25rem;

}

h1 {
    border: solid;
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #F8F8F0;
    position: relative;
    bottom: 3rem;

}

.box p {
    font-size: 2.2vw;
    flex-basis: 100%;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    padding-left: 1rem;

}
* {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Garamond', serif;
}


h1 {
    font-size: 9rem;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
}

h2 {
    font-size: 3.5rem;
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    border-bottom: solid;
    padding: 0rem 4rem 0rem;
}

.box :nth-child(5) {
    font-family: 'Hedvig Letters Serif', serif;
    margin-right: 20rem;
    margin-top: -3rem;
}

.email {
    margin-top: -3rem;
    font-weight: initial;
}

body {
    background-color: #236154;
    margin: 0;
}

.spaceright {
    margin-right: 7.5rem;
}

.boxsize {
    margin: 3rem 19.5625em 3rem;
}

.button {
    margin-bottom: 1.5rem;
    margin-left: 55rem;
    font-size: 2rem;
    border: none;
    border-radius: 1.3rem;
    padding: 0.3rem;
    color: black;
    text-decoration: none;
    background-color: #D7D3C7;
    box-shadow: 0.2rem 0.2rem 0.4rem black;
}

.button:hover {
    background-color: #f7f2ee;
}

.button:active {
    background-color: #D7D3C7;
}

p:first-of-type {
    margin-top: -1rem;
}

.FAQ p:nth-child(odd) {
    margin-top: -2rem;
}

.spaceup {
    margin-top: 2rem;
}

footer {
    background-color: #D7D3C7;
    display: flex;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 640px) {
    p{
        font-size: 5vw  !important;
        margin-bottom: 3rem !important;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        background-image: url(/western-dino-house/images/Contact.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 100%;
        border-bottom: solid;
        height: 15rem;
        width: 270rem;
        flex-basis: 100%;
    }

    h1 {
        width: 10rem;
        height: 5rem;
        font-size: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        bottom: 0rem;
    }

    .halfbox {
        width: 22rem;
        height: 31rem;
    }
    .spaceright{
        position: relative;
        left: 3.7rem;
        bottom: 1rem;
    }
    img{
        display: none;
    }
    .number{
         height: 2rem;
         margin-right: 0rem !important;
    }
    .size{
        max-width: 22rem;
        min-width: 22rem;
    }
    .four{
        margin-right: 0rem !important;
    }
    h2{
        font-size: 3rem !important;
    }
    .spaceright h2{
        margin-left: 2rem;
    }
    h2{
        border-bottom: none;
    }
    .button{
        margin-left: 0rem;
    }
}