body {
    display: flex;
    flex-flow: row wrap;
    background-color: #236154;
    margin: 0;
}

.language {
    position: relative;
    display: inline-block;
    margin-right: 0rem;
}

.language span img{
    padding-top: .3rem;
    width: 3rem;
    height: 3.5rem;
    margin-left: 9rem;
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #D7D3C7;
    font-size: 25px;
    min-width: 180px;
    padding: 5px 9px;
    z-index: 0;
    margin-right: 4rem;
}

.language:hover  .drop-down{
    display: block;
}


.sub-header {
    background-color: #D7D3C7;
    padding: .5rem;
    font-size: 35px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.sub-header a {
    padding-left: 5.5rem;
    padding-right: 20.5rem;
    padding-top: 1rem;
    
}

.name {
    background-image: url(/western-dino-house/images/backgound.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    resize: both;
    flex-basis: 100%;
}

h1 {
    font-size: 6.5rem;
    text-shadow: 5px 3px 0  #000, -2px 5px 0 #000;
    padding: 1.6rem;
    margin: 3.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-flow: column ;
    padding: 2rem 10rem 2rem 20rem;

}

.container {
    width: 19rem;
    height: 20rem;
    object-fit: cover;
    border-radius: .5em 0 0 .5em;

}

.ads {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    padding-bottom: 2rem;
}

.text-box {
    background-color: #f8f8f0;
    width: 95rem;
    font-size: 2.2rem;
    border-radius: 0 0.5em 0.5em 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button{
    border:1px solid;
    background-color: whitesmoke;
    padding: .3rem;
    margin-left: 80rem;
    border-radius: 20px;
}

footer {
    background-color: #D7D3C7;
    display: flex;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

