body {
    display: flex;
    flex-flow: row wrap;
    background-color: #236154;
    margin: 0;
}

main {
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
    width: 100vw;
    margin: 0;
}

nav {
    display: flex;
    flex-basis: 100%;
}

.language {
    position: relative;
    display: inline-block;
    margin-right: 4vw;
}

.language span img{
    padding-top: .3rem;
    width: 3rem;
    height: 3.5rem;
    margin-left: 8vw;
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #D7D3C7;
    font-size: 25px;
    min-width: 180px;
    padding: 5px 9px;
    margin-right: 0;
}

.language:hover  .drop-down{
    display: block;
}


.sub-header {
    background-color: #D7D3C7;
    padding: .5rem;
    font-size: 35px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.sub-header a {
    width: 12vw;
    padding-left: 2vw;
    padding-right: 4vw;
    padding-top: 1rem;
    
}




.name {
    background-image: url(/western-dino-house/images/backgound.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 15rem;
    resize: both;
    flex-basis: 100%;
}

h1 {
    font-size: 6.5rem;
    padding: 1.6rem;
    margin: 3.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-flow: column ;
    align-items: center;
    margin-top: 2rem;
}

.container {
    width: 21rem;
    height: 22rem;
    object-fit: cover;
    border-radius: .5em 0 0 .5em;

}

.ads {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    padding-bottom: 2rem;
    
}

.text-box {
    display: flex;
    flex-flow: column;
    background-color: #f8f8f0;
    width: 70rem;
    font-size: 2rem;
    border-radius: 0 0.5em 0.5em 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.text-box p {
    display: flex;
    margin: 0;

}

.button{
    display: flex;
    justify-content: center;
    width: 12rem;
    border:1px solid;
    background-color: whitesmoke;
    padding: .3rem;
    margin-left: 55rem;
    margin-top: 4rem;
    border-radius: 20px;
}

footer {
    background-color: #D7D3C7;
    display: flex;
    justify-content: flex-end;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

*{
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Garamond', serif;
}

h2 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'gramond', serif;
    border-bottom: solid;
}

@media only screen and (max-width: 1500px) {

body {
    display: flex;
    flex-basis: 100%;
    width: 100vw;
}

.language span img{
    padding-top: 4vw;
    width: 8vw;
    height: 8vw;
    margin-left: 2vw;
}

.drop-down {
    font-size: 5vw;    
    min-width: 19vw;
    transform: translateX(-27%);
    
}

.language:hover  .drop-down{
    display: block;
}


.sub-header {
    display: flex;
    justify-content: flex-start;
    background-color: #D7D3C7;
    padding: 0;
}

.sub-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4vw .5vw .5vw 0;
    font-size: 5vw;
    width: 20vw;
}

h1 {
    font-size: 4.5rem;
    margin: 3.5rem 1rem;
}

.name {
    height: 10vw;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;
    height: 87vw;
    border-radius: 0;
}

.text-box {
    width: 71vw;
    font-size: 6vw;
    border-radius: 0;
    padding: 0 4.5vw 3vw 4.5vw;
}

.button {
    width: 35vw;
    margin-left: 17vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.ads {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer section a:first-of-type {
    font-size: 8vw;
}

footer {
    display: flex;
    flex-flow: row wrap;
}

footer section{
    display: flex;
    flex-flow: row wrap;
    width: 40vw;
}

footer a{
    margin-left: -9.8vw;
    font-size: 5vw;
    padding-bottom: 2vw;
}
}

