body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    background-image: url(/western-dino-house/images/backgound.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.language {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
}

.language span img {
    padding-top: .3rem;
    width: 3rem;
    height: 3.5rem;
    /* margin-left: 7vw; */
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #D7D3C7;
    font-size: 25px;
    min-width: 180px;
    padding: 5px 9px;
    z-index: 0;
    margin-right: 4rem;
}

.language:hover .drop-down {
    display: block;
}


.sub-header {
    background-color: #D7D3C7;
    padding: .5rem;
    font-size: 35px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.sub-header .masc {
    display: flex;
    flex-flow: row;
    margin: 0 5vw;
}

.masc a {
    width: 11vw;
    margin: 1.5vh 4vw 0 4vw;
}

.return {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    margin-top: .2rem;
}



footer {
    background-color: #D7D3C7;
    display: flex;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    

}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.content {
    display: flex;
    flex-flow: row wrap;
    margin: 2vw;
}

.title {
    flex-basis: 100%;
}
.title h1{
    width: 65vw;
    background-color: #D7D3C7;
    font-size: 3rem;
    padding: .5rem;
}

#cart {
    display: grid;
    flex-basis: 65%;
    margin-top: -4.8rem;
}

#cart p {
    background-color: #236154;
    color: white;
    width: 65vw;
    font-size: 1.8rem;
    padding: .5rem;
    height: 32rem;
}


.condiments {
    flex-basis: 15%;
}

.option {
    background-color: #236154;
    width: 32rem;
    display: flex;
    flex-flow: column wrap;
    margin-left: 1rem;
    padding: .5rem;

}

.option h1{
    background-color: #D7D3C7;
    padding: .3rem;
    min-width: 32.35rem;
    font-size: 2.5rem;
    margin-top: -0.5rem;
    margin-left: -0.45rem;
}

.option p{
    font-size: 1.8rem;
    color: white;
    margin-top: -1rem;
}

.total {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;

    margin-right: 2vw;
}

.total p{
    background-color: #236154;
    color: white;
    margin-left: 1rem;
    padding: .5rem;
    width: 32rem;
    font-size: 2.4rem;
}

.pay {
    flex-basis: 100%;
}

.bg {
    background-color: #236154;
    width: 32rem;
    margin-top: -2.4rem;
    margin-left: 1rem;
    height: 4rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}

.bg a{
    background-color: #D7D3C7;
    padding: .3rem;
    width: 7rem;
    border-radius: 20px;
    font-size: 2.4rem;
    height: 2.9rem;
    display: flex;
    justify-content: center;
}

.bg a:hover{
    background-color: #b1aea3;
}

.bg a:active {
    background-color: #D7D3C7;
}

p {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
}

h1 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
}

h2 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    border-bottom: solid;
}
footer{
    margin-top: 7vw;
}