body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    background-image: url(/western-dino-house/images/backgound.jpg);
    background-size: fill;
    background-repeat: no-repeat;
}

.language {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
}

.language span img {
    padding-top: .3rem;
    width: 3rem;
    height: 3.5rem;
    /* margin-left: 7vw; */
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #D7D3C7;
    font-size: 25px;
    min-width: 180px;
    padding: 5px 9px;
    z-index: 0;
    margin-right: 4rem;
}

.language:hover .drop-down {
    display: block;
}


.sub-header {
    background-color: #D7D3C7;
    padding: .5rem;
    font-size: 35px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.sub-header .masc {
    display: flex;
    flex-flow: row;
    margin: 0 5vw;
}

.masc a {
    width: 11vw;
    margin: 1.5vh 4vw 0 4vw;
}

.return {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    margin-top: .2rem;
}



footer {
    background-color: #D7D3C7;
    display: flex;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    

}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: row wrap;
    margin: 2vw;
}

.title {
    flex-basis: 100%;
}
.title h1{
    width: 61.52rem;
    background-color: #D7D3C7;
    font-size: 3rem;
    padding: .5rem;
    margin-left: 28.5rem;
}

#cart {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 65%;
    background-color: #236154;
    margin-top: -2.5rem;
    min-height: 30rem;
    max-height: 90rem;
    max-width: 62.52rem;
    min-width: 62.52rem;
    margin-left: 28.5rem;

}
.cartItemInfo{
    background-color: #D7D3C7;
    width: 10rem;
    max-height: 17rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.cartItemInfo :nth-of-type()
*{
    box-sizing: border-box;
}
.cartTotal{
    position: absolute;
    left: 77rem;
    top: 13.5%;
    font-size: 2em;
}
.removeBtn{
    color: white;
}

.cond {
    flex-basis: 50%;
    color: white;
    font-size: 1.6rem;
}


/* .condiments {
    flex-basis: 15%;

} */

.option {
    background-color: #236154;
    width: 32rem;
    display: flex;
    flex-flow: column wrap;
    margin-left: 1rem;
    padding: .5rem;
    display: flex;
    flex-flow: row wrap;
    margin-top: -3rem;

}

.option h2{
    background-color: #D7D3C7;
    padding: .3rem;
    min-width: 32.35rem;
    font-size: 2.5rem;
    margin-top: -0.5rem;
    margin-left: -0.45rem;
}

.option p{
    font-size: 1.8rem;
    color: white;
    margin-top: -1rem;
}

.total {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.total p{
    background-color: #236154;
    color: white;
    margin-top: 2rem;
    margin-left: 1rem;
    padding: .5rem;
    width: 32rem;
    font-size: 2.4rem;
}

.pay {
    flex-basis: 100%;
}

.bg {
    /* background-color: #236154;
    width: 32rem;
    margin-top: -2.4rem;
    margin-left: 1rem;
    height: 4rem;
    padding: .5rem;
    display: flex;
    justify-content: flex-end; */
}

.tp {
    display: flex;
    flex-flow: column wrap;
    margin-top: 8.5rem;
}

.bg a{
    background-color: #D7D3C7;
    padding: .3rem;
    width: 7rem;
    border-radius: 20px;
    font-size: 2.4rem;
    height: 2.9rem;
    display: flex;
    justify-content: center;
    position: relative;
    left: 53rem;
    bottom: 5rem;
    margin-left: 28.5rem;
}

.bg a:hover{
    background-color: #b1aea3;
}

.bg a:active {
    background-color: #D7D3C7;
}


footer{
    margin-top: 7vw;
}
.payment{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.4);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
}
.payment aside {
    background-color: #5b9676;
    border-radius: 2rem;
    border: green solid 1px;
    width: 40%;
    height: 27%;
    display: flex;
    flex-flow: row wrap;
}
body{
    max-width: 100%;
}
.input{
    height: 1.5rem;
    width: 50rem;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: .5rem;
    border-radius: 1rem;
}
.SBbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    height: 2rem;
    width: 5rem;
    border-radius: 2rem;
    background-color: #C4c896;
    position: sticky;
    left: 61%;
}
.SBbutton:hover{
    background-color: #236154;
    color: #F8f8f0;
    border-color: black;
}
.SBbutton:active{
    background-color: #C4c896;
    color: black;
}
.poptitle{ 
    height: 2rem;
    margin-left: 32%;
    margin-right: 25%;
    font-size: 1.8em;
    border-bottom: solid;
}
@media only screen and (max-width:1800px){

    .condiments {
        display: flex;
        flex-flow: row wrap;
        margin-left: -1vw;
        margin-top: 3rem;

    }

    .option {
        flex-basis: 30%;
    }

    .tp {
        display: flex;
        flex-flow: row wrap;
        flex-basis: 30%;
        margin-top: -.2rem;
    }
}