body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    background-image: url(/western-dino-house/images/backgound.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.language {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
}

.language span img{
    padding-top: .3rem;
    width: 3rem;
    height: 3.5rem;
    /* margin-left: 7vw; */
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #D7D3C7;
    font-size: 25px;
    min-width: 180px;
    padding: 5px 9px;
    z-index: 0;
    margin-right: 4rem;
}

.language:hover  .drop-down{
    display: block;
    z-index: 1;
}


.sub-header {
    background-color: #D7D3C7;
    padding: .5rem;
    font-size: 35px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.sub-header .masc{
    display: flex;
    flex-flow: row;
    margin: 0 5vw;
}

.masc a{
    width: 11vw;
    margin: 1.5vh 4vw 0 4vw;
}

.return {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    margin-top: .2rem;
}

.sidebar {
    background-color: #236154;
    position: fixed;
    margin-top: 8vw;
    margin-left: .5vw;
    height: auto;
    width: 18vw;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    padding: 1.5rem 0;
    border-radius: 20px;
}

.sidebar section {
    margin-bottom: .5rem;
}

.fd {
    background-color: #F8F8F0;
    border-radius: 20px;
    width: 12vw;
    padding: .4rem;
    text-wrap: wrap;

}

.tc {
    background-color: #F8F8F0;
    border-radius: 20px;
    padding: .4rem;
    width: 3vw;
    padding: .4rem 9.5vw .4rem .4rem;
}

.sidebar a {
    font-size: 2rem;
}

.pic {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
}

.price::after {
    background-image: url(/western-dino-house/images/JurassicPAY\ Logo.png);
    display: inline-block;
    height: 2rem;
    width: 2rem;
    background-size: cover;
    content: '';
    transform: translateY(25%);
}

.menu {
    margin-left: 20vw;
    display: flex;
    flex-flow: row wrap;
    margin-top: 2vw;
    margin-bottom: 0vw;
}

.items {
    display: flex;
    flex-flow: row wrap;
    background-color: #236154;
    overflow: hidden;
    width: 77vw ;
    border-radius: 20px;
    margin-bottom: 2vw;
}

.name {
    flex-basis: 100%;
    margin-top: -2.2rem;
}

.name h2 {
    background-color: #D7D3C7;
    font-size: 2.5rem;
    padding: 2rem;
}

.text {
    background-color: #D7D3C7;
    width: 16rem;
    height: 16rem;
    padding: 1rem;
    margin-top: -.5rem;
}

.text h3 {
    font-size: 1.6rem;
}

.text p {
    font-size: 1.4rem;
}

.m1 {
    margin-left: 3.3vw;
    margin-bottom: 1vw;
}




footer {
    background-color: #D7D3C7;
    display: flex;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

p {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
}

h1 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
}

h2 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    border-bottom: solid;
}

