body {
    display: flex;
    flex-flow: row wrap;
    background-color: #236154;
    margin: 0;
}


footer {
    background-color: #D7D3C7;
    display: flex;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

