body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;

}

.bg {
    background-image: url(/western-dino-house/images/backgound.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column wrap;
    width: 99.2vw;
    max-height: auto;
}

.language {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
}

.language span img {
    padding-top: .3rem;
    width: 3rem;
    height: 3.5rem;
    /* margin-left: 7vw; */
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #D7D3C7;
    font-size: 25px;
    min-width: 180px;
    padding: 5px 9px;
    z-index: 999;
    margin-right: 4rem;
}

.language:hover .drop-down {
    display: block;
    z-index: 999;
}


.sub-header {
    background-color: #D7D3C7;
    padding: .5rem;
    font-size: 35px;
    display: flex;
    flex-basis: 100%;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.sub-header .masc {
    display: flex;
    flex-flow: row;
    margin: 0 5vw;
}

.masc a {
    width: 11vw;
    margin: 1.5vh 4vw 0 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    margin-top: .2rem;
}

.sidebar {
    display: flex;
    flex-basis: 20%;
    background-color: #236154;
    position: sticky;
    top: 2vw;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: -10rem;
    width: 18rem;
    flex-flow: column;
    align-items: center;
    padding: 1.5rem 0;
    border-radius: 20px;
}

.bg .sidebar {
    max-height: 20rem;
}

.sidebar section {
    margin-bottom: .5rem;
}

.fd {
    background-color: #F8F8F0;
    border-radius: 20px;
    width: 12rem;
    padding: .4rem;
    text-wrap: wrap;

}

.tc {
    background-color: #F8F8F0;
    border-radius: 20px;
    padding: .4rem;
    width: 3vw;
    padding: .4rem 9.5vw .4rem .4rem;
}

.sidebar a {
    font-size: 2rem;
}

.pic {
    object-fit: cover;
    width: 18rem;
    height: 18rem;
}

.menu {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: -23rem;
    margin-bottom: 0vw;
    flex-basis: 100%;
    /* width: 72%; */
}

.items {
    display: flex;
    flex-flow: row wrap;
    background-color: #236154;
    overflow: hidden;
    width: 77vw;
    border-radius: 20px;
    margin-bottom: 2rem;
    margin-left: 13vw;
}

.name {
    flex-basis: 100%;
    margin-top: -2.2rem;
}

.name h2 {
    background-color: #D7D3C7;
    font-size: 2.5rem;
    padding: 2rem;
}

.text {
    background-color: #D7D3C7;
    width: 16rem;
    height: 16rem;
    padding: 1rem;
    margin-top: -.5rem;
}

.text h3 {
    font-size: 1.6rem;
}

.text p {
    display: flex;
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.prodDesc {
    display: flex;

}

.m1 {
    margin-left: 1.8vw;
    margin-bottom: 1vw;
}



.price {
    height: 2rem;
    width: 2rem;
    margin-bottom: -.5rem;
}

.text {
    display: flex;
    flex-flow: column wrap;
}

.button {
    margin-left: 9.5rem;
    margin-top: -2rem;
    display: block;

    border: 2px solid;
    border-radius: .5rem;
    padding: 0.3rem;
    background-color: #F3d13c;
}

.button:hover {
    background-color: #Eeb01f;
}

.button:active {
    background-color: #F3d13c;
}



footer {
    background-color: #D7D3C7;
    display: flex;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    /* border: 1px solid red; */
}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

* {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Garamond', serif;
}

h2 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'gramond', serif;
    border-bottom: solid;
}

#cartItemCount::before {
    content: " (";
}

#cartItemCount::after {
    content: ")";
}

[p~="soda"] {
    margin-bottom: 100rem;
}

.prodPrice {
    font-size: 1.4rem;

}



.hl {
    display: flex;
    justify-content: flex-start;
}

.fd a {
    display: flex;
    flex-flow: row wrap;
    /* width: vw; */
}

.fd span {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: -2.5rem; */
    height: 2rem;
}

.fd p {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 0%;
    margin: 0;
}


@media only screen and (max-width: 1000px) {

    .bg {
        display: flex;
        flex-flow: row wrap;
    }

    .sidebar {
        display: flex;
        flex-flow: row wrap;
        position: sticky;
        flex-basis: 100%;
        width: 100vw;
        height: 38vw;
        padding: 0;
        padding-top: .5rem;
        margin: 0;
        top: 0vw;
        border-radius: 0;
        z-index: 998;
    }


    .sidebar .fd a {
        font-size: 5vw;
    }

    .sidebar .fd {
        width: 20rem;
    }

    .fd img {
        height: 20px;
        margin-top: .2rem;
    }

    span {
        margin-top: -.3rem;
    }

    .sidebar section {
        flex-basis: 44%;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-left: .2rem;
    }

    .menu {
        margin-left: 20vw;
        display: flex;
        flex-flow: row wrap;
        margin-top: 0rem;
        margin-bottom: 0vw;
    }

    .menu {
        margin: 0;
        flex-basis: 100%;
        width: 100vw;
    }

    .name h2 {
        font-size: 2rem;
    }

    .items {
        margin: 1rem 0;
        width: 100vw;
    }

    .m1 {
        margin: 0vw 3.4rem 1.5rem 3.4rem;
    }

}