
*{
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Garamond', serif;
}

h2 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'gramond', serif;
    border-bottom: solid;
}