p {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
}

h1 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
}

h2 {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sorts Mill Goudy', serif;
    border-bottom: solid;
}