body {
    margin: 0;
}

.language {
    position: relative;
    display: inline-block;
    margin-left: 2vw;
}

.language span img {
    padding-top: .3rem;
    width: 3rem;
    height: 3.5rem;
    /* margin-left: 7vw; */
}

.drop-down {
    display: none;
    position: absolute;
    background-color: #D7D3C7;
    font-size: 25px;
    min-width: 180px;
    padding: 5px 9px;
    z-index: 0;
    margin-right: 4rem;
}

.language:hover .drop-down {
    display: block;
}


.sub-header {
    background-color: #D7D3C7;
    padding: .5rem;
    font-size: 35px;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
}

.sub-header .masc {
    display: flex;
    flex-flow: row;
    margin: 0 5vw;
}

.masc a {
    width: 11vw;
    margin: 1.5vh 4vw 0 4vw;
}

.return {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    margin-top: .2rem;
}

.name {
    padding: 0rem 0rem 0rem;
    resize: none;
    margin-right: 55%;
    margin-left: 31.7%;
    margin-bottom: 2rem;
}

.question {
    resize: none;
}

.center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    background-color: #D7D3C7;
    height: 20vw;
    width: 52vw;
    border: solid;
    border-radius: 2rem;
    position: relative;
    left: 23.5vw;

}

body {
    background-color: #236154;
}

.button {
    border: 1px solid;
    border-radius: 0.1rem;
    color: black;
    text-decoration: none;
    background-color: whitesmoke;
    padding: 0rem 0.5rem;
    width: 2.2rem;
    transform: translate(-23vw, 1vw);
}

.button:hover {
    background-color: rgb(238, 238, 238);
}

.name {
    transform: translate(-11.6vw, 0vw);
}

.content {
    transform: translate(0vw, -2vw);
    width: 42vw;
    height: 12vw;
    resize: none;
}

.submit {
    border: 1px solid;
    border-radius: 0.1rem;
    color: black;
    background-color: whitesmoke;
    transform: translate(0vw, 6vw);
}

.textbox {
    background-color: #F8F8F0;
}

.spacetop {
    margin-top: 2rem;
}

.submit {
    flex-basis: 0%;
    /* margin-left: 64.3%; */
}

footer {
    background-color: #D7D3C7;
    display: flex;
    flex-basis: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    margin-top: 30vh;
    /* border: 1px solid red; */
}

footer section {
    display: block;
    flex-basis: 100%;
}

footer a {
    display: flex;
    flex-basis: 100%;
    padding: 0 15% 1% 15%;
}

footer section a:first-of-type {
    font-size: 2rem;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width:640px) {
    .center {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-top: 40vw;
        margin-bottom: 40vw;
        background-color: #D7D3C7;
        height: 50vw;
        width: 72vw;
        border: solid;
        border-radius: 2rem;
        position: relative;
        left: 13.5vw;
    }

    .name {
        margin-left: 64%;
    }

    .content {
        transform: translate(6vw, -10vw);
        width: 56vw;
        height: 15vw;
        resize: none;
    }

    .submit {
        border: 1px solid;
        border-radius: 0.1rem;
        color: black;
        background-color: whitesmoke;
        transform: translate(-6vw, 6vw);
    }

    footer {
        margin-top: 40vh;
    }
}